@media (max-width: 750px) {
    .footer-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    .footer-content {
        align-items: flex-start !important;
    width: 100%;
    }
    .hello{
        width: 100%;
        padding-left: 10px;

    }
  
    .footer-content p {
      font-size: 13px !important;
      

    }
    .footer-container p {
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .glow {
      display: block;
      margin: 0 auto;
    }
  }